.App {
  text-align: center;
}

.input-form {
  padding: 20px;
  position: sticky;
  bottom: 0;
  z-index: 10;
  background-color: #ddd;
  display: flex;
  margin: 0 40;
}

.input-form__input {
  flex: 1;
}

.input-form__icon {
  flex: 0;
}

.input-form__buttons {
  display: flex;
  flex-direction: row !important;
  flex: 1;
}